* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 5%;
  }
}

header {
  background-color: transparent;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-top: -70px;
}
header .hedaer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hedaer .logo {
  font-size: 2.1rem;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  header .hedaer .logo {
    font-size: 1.3rem;
    color: rgb(143, 140, 140);
    border: 1px solid rgb(143, 140, 140);
  }
}
header .hedaer .logo p {
  margin: 0;
  padding: 0;
}
header .hedaer .menu-icons {
  display: none;
}
@media screen and (max-width: 767px) {
  header .hedaer .menu-icons {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 1.4rem;
    color: rgb(143, 140, 140);
  }
  header .hedaer .menu-icons i {
    margin: 0;
    padding: 0;
  }
  header .hedaer .menu-icons h4 {
    margin: 0;
    padding: 0;
  }
}
header .hedaer nav {
  display: block;
}
@media screen and (max-width: 767px) {
  header .hedaer nav {
    display: none;
  }
}
header .hedaer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}
header .hedaer nav ul li {
  list-style: none;
}
header .hedaer nav ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
header .hedaer nav ul li a:hover {
  color: wheat;
}

#carouselExampleIndicators {
  background-attachment: fixed;
  height: 100vh;
}
#carouselExampleIndicators .carousel-inner {
  height: 100vh;
}
#carouselExampleIndicators .carousel-inner .one {
  background-image: url("https://preview.colorlib.com/theme/tasty/images/bg_2.jpg");
}
#carouselExampleIndicators .carousel-inner .twoo {
  background-image: url("https://preview.colorlib.com/theme/tasty/images/bg_3.jpg");
}
#carouselExampleIndicators .carousel-inner .three {
  background-image: url("https://preview.colorlib.com/theme/tasty/images/bg_1.jpg");
}
#carouselExampleIndicators .carousel-inner .carousel-item {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#carouselExampleIndicators .carousel-inner .carousel-item .bg-color {
  background-color: rgba(0, 0, 0, 0.562);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#carouselExampleIndicators .carousel-inner .carousel-item .bg-color .text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#carouselExampleIndicators .carousel-inner .carousel-item .bg-color .text h1 {
  color: white;
  font-family: monospace;
  font-style: italic;
}
#carouselExampleIndicators .carousel-inner .carousel-item .bg-color .text .book {
  border: none;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 15px 25px;
  transition: all 1s;
}
#carouselExampleIndicators .carousel-inner .carousel-item .bg-color .text .book:hover {
  background-color: white;
  border: 1px solid white;
  color: black;
}

#about .about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}
@media screen and (max-width: 767px) {
  #about .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
}
#about .about .about-left {
  width: 50%;
}
@media screen and (max-width: 767px) {
  #about .about .about-left {
    width: 100%;
  }
}
#about .about .about-left img {
  width: 100%;
}
#about .about-right {
  width: 50%;
}
@media screen and (max-width: 767px) {
  #about .about-right {
    width: 100%;
  }
}
#about .about-right .about-text {
  width: 91%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  font-family: monospace;
}
#about .about-right .about-text em {
  color: gray;
}
#about .about-right .about-text p {
  color: grey;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.head em {
  color: gray;
}

#dinamic {
  background-color: rgba(212, 210, 210, 0.422);
  padding: 60px 0;
}
#dinamic .dinamic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#dinamic .dinamic input {
  padding: 0 6px;
  outline: none;
}
#dinamic .dinamic input::-moz-placeholder {
  color: black;
}
#dinamic .dinamic input::placeholder {
  color: black;
}
#dinamic .dinamic .sort {
  padding: 1px 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
}
#dinamic .dinamic .sort:hover {
  background-color: rgb(186, 129, 23);
}
#dinamic .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  gap: 35px;
}
@media screen and (max-width: 767px) {
  #dinamic .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
#dinamic .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: white;
  padding: 12px 12px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 10px rgb(172, 170, 170);
}
@media screen and (max-width: 767px) {
  #dinamic .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
#dinamic .buttons button:active {
  background-color: rgb(186, 129, 23);
}
#dinamic .menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width: 767px) {
  #dinamic .menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
#dinamic .menu .box {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: white;
  gap: 10px;
  padding: 10px 10px;
  box-shadow: 2px 2px 10px rgb(172, 170, 170);
}
@media screen and (max-width: 767px) {
  #dinamic .menu .box {
    width: 100%;
  }
}
#dinamic .menu .box:hover {
  background-color: rgb(186, 129, 23);
}
#dinamic .menu .box .box-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#dinamic .menu .box .box-body a {
  font-size: 1rem;
}
#dinamic .menu .box .box-body p {
  margin: 0;
  padding: 0;
}
#dinamic .menu .box .box-body h5 {
  margin: 0;
  padding: 0;
}
#dinamic .menu .box .box-img {
  border-radius: 100%;
}
#dinamic .menu .box .box-img img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

#form-header {
  background-color: black;
  color: white;
}

#form {
  margin-top: 100px;
  margin-bottom: 50px;
}
#form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#form form .check {
  margin-right: 30px;
}
#form form input {
  width: 500px;
}

#table img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#table th {
  padding: 20px 30px;
}
#table td {
  padding: 20px 20px;
}
#table .edit {
  background-color: green;
  padding: 5px 10px;
  color: white;
  border-radius: 7px;
  border: none;
}
#table .delete {
  background-color: red;
  padding: 5px 10px;
  color: white;
  border-radius: 7px;
  border: none;
}

#carouselExampleControls {
  margin-top: 40px;
  height: 95vh;
}
#carouselExampleControls img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
#carouselExampleControls .carousel-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#carouselExampleControls .carousel-item .carusel-cards {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  row-gap: 30px;
}
#carouselExampleControls .carousel-item .carusel-cards .boxs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}
#carouselExampleControls .carousel-item .carusel-cards p {
  color: gray;
}
#carouselExampleControls .carousel-item .carusel-cards .stars {
  display: flex;
}
#carouselExampleControls .carousel-item .carusel-cards .stars .fa-star {
  color: yellow;
}
#carouselExampleControls .carousel-item .carusel-cards img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

#blog .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 767px) {
  #blog .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
#blog .blogs .blog {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  background-color: white;
  gap: 10px;
  padding: 5px 10px;
  box-shadow: 2px 2px 10px rgb(172, 170, 170);
}
#blog .blogs .blog .bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#blog .blogs .blog img {
  width: 100%;
  height: 300px;
}
#blog .blogs .blog em {
  color: gray;
}
@media screen and (max-width: 767px) {
  #blog .blogs .blog {
    width: 100%;
  }
}

footer {
  margin-top: 40px;
  height: 40vh;
  background-color: gray;
}
footer .footer {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer p {
  color: gainsboro;
}
footer .footer p i {
  color: red;
}

#details .goback {
  border: none;
  border: 1px solid black;
  background-color: rgb(186, 129, 23);
  color: black;
  padding: 10px 15px;
  margin-bottom: 20px;
}
#details .detailshead {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#details .details {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
#details .details .box {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: white;
  gap: 10px;
  padding: 10px 10px;
  box-shadow: 2px 2px 10px rgb(172, 170, 170);
}
#details .details .box img {
  height: 200px;
  width: 200px;
}
#details .details .box:hover {
  background-color: rgb(186, 129, 23);
}
@media screen and (max-width: 767px) {
  #details .details .box {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */