* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: white;
}
header .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}
header .container .header-top {
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}
header .container .header-top .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .header-top .logo i {
  font-size: 2rem;
}
header .container .header-top .head-right .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .container .header-top .head-right .head i {
  font-size: 1.7rem;
}
@media screen and (max-width: 767px) {
  header .container .header-top .head-right .head .head-mini {
    display: none;
  }
}
header .container .header-top .head-right .head .head-mini em {
  color: grey;
}

#header-bootom {
  background-color: #343a40;
}
#header-bootom .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}
#header-bootom .container .header-bootom {
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-bootom .container .header-bootom .header-bottom-right button {
  height: 35px;
  width: 100px;
  border: none;
}
#header-bootom .container .header-bootom .header-bottom-right .transp {
  background-color: transparent;
  color: white;
}
#header-bootom .container .header-bootom .header-bottom-right .transp:hover {
  background-color: #7cbd1e;
}
#header-bootom .container .header-bootom .header-bottom-right .green {
  background-color: #7cbd1e;
  color: white;
}
#header-bootom .container .header-bootom .header-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-bootom .container .header-bootom .header-bottom-left .fa-bars {
  display: none;
}
@media screen and (max-width: 767px) {
  #header-bootom .container .header-bootom .header-bottom-left .fa-bars {
    display: block;
    font-size: 2rem;
    color: white;
  }
}
#header-bootom .container .header-bootom .header-bottom-left nav {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  #header-bootom .container .header-bootom .header-bottom-left nav {
    display: none;
  }
}
#header-bootom .container .header-bootom .header-bottom-left nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
#header-bootom .container .header-bootom .header-bottom-left nav ul sup {
  color: white;
}
#header-bootom .container .header-bootom .header-bottom-left nav ul li a {
  text-decoration: none;
  color: rgb(143, 140, 140);
  font-size: 1.2rem;
}
#header-bootom .container .header-bootom .header-bottom-left nav ul li a:hover {
  color: white;
}

#hero-banner .hero-banner .carousel .carousel-item .banner-info {
  position: absolute;
  top: -350px;
  right: 230px;
}
#hero-banner .hero-banner .carousel .carousel-item .banner-info .buttons {
  margin-top: 30px;
}
#hero-banner .hero-banner .carousel .carousel-item .banner-info .buttons button {
  height: 50px;
  width: 150px;
  border: none;
}
#hero-banner .hero-banner .carousel .carousel-item .banner-info .buttons .transp {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#hero-banner .hero-banner .carousel .carousel-item .banner-info .buttons .transp:hover {
  background-color: #ffffff;
  color: black;
}
#hero-banner .hero-banner .carousel .carousel-item .banner-info .buttons .green {
  background-color: #7cbd1e;
  color: white;
}

#platforms .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}
#platforms .container .platforms .platforms-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}
#platforms .container .platforms .platforms-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#platforms .container .platforms .platforms-box .box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 25px;
  gap: 20px;
  margin: 10px 10px 30px 10px;
  padding: 40px 20px;
  border: 1px solid rgb(204, 202, 202);
  box-shadow: 1px 1px 22px rgb(204, 202, 202);
}
@media screen and (max-width: 767px) {
  #platforms .container .platforms .platforms-box .box {
    width: 100%;
  }
}
#platforms .container .platforms .platforms-box .box i {
  font-size: 3rem;
  color: #7cbd1e;
}
#platforms .container .platforms .platforms-box .box p {
  font-style: italic;
  color: #343a40;
}
#platforms .container .platforms .platforms-box .box button {
  height: 35px;
  width: 120px;
  border: none;
}
#platforms .container .platforms .platforms-box .box .green {
  background-color: #7cbd1e;
  color: white;
}
#platforms .container .platforms .platforms-box .box .green:hover {
  background-color: #497011;
}

#clients {
  background-image: url("https://preview.colorlib.com/theme/server/images/hero_bg_3.jpg");
  background-image: 100%;
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: white;
  margin-top: 4rem;
  background-attachment: fixed;
}
#clients .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}
#clients .container .clients {
  height: 95vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#clients .container .clients h1 {
  font-size: 4.5rem;
}
#clients .container .clients p {
  font-size: 1.5rem;
  padding: 10px 0;
}
#clients .container .clients button {
  height: 50px;
  width: 150px;
  border: none;
}
#clients .container .clients .green {
  background-color: #7cbd1e;
  color: white;
}
#clients .container .clients .green:hover {
  background-color: #497011;
}

#dinamik .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}
#dinamik .container .dinamik .product-card-lists {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#dinamik .container .dinamik .product-card-lists .product-card {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 25px;
  gap: 20px;
  transition: all 1s;
  margin: 10px 10px 30px 10px;
  padding: 40px 20px;
  border: 1px solid rgb(204, 202, 202);
  box-shadow: 1px 1px 22px rgb(204, 202, 202);
}
#dinamik .container .dinamik .product-card-lists .product-card:hover {
  background-color: #7cbd1e;
  color: white;
}
#dinamik .container .dinamik .product-card-lists .product-card:hover .porduct-bootom p {
  color: white;
}
#dinamik .container .dinamik .product-card-lists .product-card:hover .porduct-bootom .icons .fa-trash {
  color: white;
}
#dinamik .container .dinamik .product-card-lists .product-card:hover .porduct-bootom .icons .fa-pen-nib {
  color: white;
}
@media screen and (max-width: 767px) {
  #dinamik .container .dinamik .product-card-lists .product-card {
    width: 100%;
  }
}
#dinamik .container .dinamik .product-card-lists .product-card .porduct-bootom p {
  color: gray;
  padding-bottom: 30px;
}
#dinamik .container .dinamik .product-card-lists .product-card .porduct-bootom .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#dinamik .container .dinamik .product-card-lists .product-card .porduct-bootom .icons .fa-regular {
  color: red;
  font-size: 1.3rem;
}
#dinamik .container .dinamik .product-card-lists .product-card .porduct-bootom .icons .fa-trash {
  color: rgb(20, 18, 18);
  font-size: 1.3rem;
}
#dinamik .container .dinamik .product-card-lists .product-card .porduct-bootom .icons .fa-pen-nib {
  color: #497011;
  font-size: 1.3rem;
}
#dinamik .container .dinamik .product-card-lists .product-card .product-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#dinamik .container .dinamik .product-card-lists .product-card .product-top .image {
  width: 70px;
  height: 70px;
  background-origin: padding-box;
}
#dinamik .container .dinamik .product-card-lists .product-card .product-top .image img {
  width: 100%;
  border-radius: 50%;
}
#dinamik .container .dinamik .dinamik-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
#dinamik .container .dinamik .dinamik-js {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#dinamik .container .dinamik .dinamik-js button {
  height: 30px;
  width: 120px;
  border: none;
}
#dinamik .container .dinamik .dinamik-js .green {
  background-color: #7cbd1e;
  color: white;
  border-radius: 7px;
}
#dinamik .container .dinamik .dinamik-js .green:hover {
  background-color: #497011;
}
#dinamik .container .dinamik .dinamik-js input {
  color: #497011;
  outline: none;
  width: 170px;
  height: 30px;
  border: 1px solid #7cbd1e;
  padding: 0 10px;
  border-radius: 10px;
}
#dinamik .container .dinamik .dinamik-js input::-moz-placeholder {
  color: #7cbd1e;
}
#dinamik .container .dinamik .dinamik-js input::placeholder {
  color: #7cbd1e;
}

footer {
  margin-top: 44px;
  background-color: #343a40;
  height: 40vh;
}
footer .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}
footer .container .footer {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container .footer p {
  color: white;
}
footer .container .footer p i {
  color: red;
}

#add-product {
  padding-top: 130px;
}
#add-product .add-product-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -64px;
  margin-bottom: 30px;
}
#add-product .add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#add-product .add-product form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#add-product .add-product form input {
  color: #497011;
  outline: none;
  width: 330px;
  height: 40px;
  border: 1px solid #7cbd1e;
  padding: 0 10px;
  border-radius: 10px;
}
#add-product .add-product form input::-moz-placeholder {
  color: #7cbd1e;
}
#add-product .add-product form input::placeholder {
  color: #7cbd1e;
}
#add-product .add-product form button {
  height: 40px;
  width: 100px;
  border: none;
}
#add-product .add-product form .green {
  background-color: #7cbd1e;
  color: white;
  border-radius: 7px;
}
#add-product .add-product form .green:hover {
  background-color: #497011;
}
#add-product .add-product .error-message {
  margin: 2rem 0;
  font-size: 2rem;
  color: red;
  opacity: 0;
  transition: all 1s;
}/*# sourceMappingURL=style.css.map */